<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimerButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E07529B91C9E8EE400408A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E07529D21C9E8EE400408A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E07529DD1C9E8EE400408A49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
